.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 164px;
  height: 164px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}

.lede p{
  font-family: 'Julius Sans One', sans-serif;
}


.items ul{

    list-style-type: none;
    margin: 0 auto;
    text-align: left;

}

.items li{
  width: 164px;
  height: 180px;
  border: 0px solid red;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  
}

.items p{
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: red;
  text-align: center;
}

.items img{
  width: 100%;
}

h3{
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
html{
  background: url(/images/pattern.png) repeat center center;
}

h5{
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 18px;
  font-weight: 200px;
}

body{
  background: none;
  padding-left: 20px;
  padding-right: 10px;
  max-width: 1000px;
  margin: 0 auto;
  min-width: 900px;
}

#shop{
  position: absolute;
  top:30px;
  right:0;
}

#logo{
  position: absolute;
  top:0;
  left:0;
}

.header{
  position:relative;
  height: 160px;
}
.header h3{
  position:absolute;
  top:100;
}